html,
.App {
  height: 100%;
}
#sidenav {
  position: fixed;
  width: 30%;
  height: 100%;
  background: pink;
}

#content {
  position: absolute;
  width: 70%;
  left: calc(30%);
  background: green;
}

#item__property {
  display: inline-block;
}
