html,
.App {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
#sidenav {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  height: 100%;
  background: #ff6bb2;
}

#sidenav:hover {
  overflow-y: scroll;
}

#content {
  position: absolute;
  height: 500vh;
  width: 70%;
  left: calc(30%);
  background: #7fe2a8;
}

#item__property {
  display: inline-block;
}

p.sidenav__section {
  font-size: 20px;
  padding: 2px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.fieldname {
  color: #931618;
  margin-left: 10px;
}

.datatype,
.usage,
.sidenav__item {
  margin-left: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
}

div.fieldgroupitem__div--outer {
  margin-left: 20px;
  margin-top: 20px;
  background: #7afaff;
  width: 80%;
}

div.sidenav__group,
div.sidenav__property {
  background: #f48bbe;
  width: 80%;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

div.item__property {
  margin-left: 10px;
  padding-bottom: 2px;
}

h2.fieldgroupitem__h2 {
  margin-left: 2px;
  padding-top: 2px;
}

div.item__property {
  font-size: 18px;
}
